@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(250, 250, 250);
    color: rgb(51, 51, 51);
  }
  a {
    color: rgb(51, 51, 51);
  }
  a:hover {
    color: rgb(0, 122, 255);
  }
  a:link {
    text-decoration: none;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(51, 51, 51);
    color: rgb(224, 224, 224);
  }
  a {
    color: rgb(224, 224, 224);
  }
  a:hover {
    color: rgb(10, 132, 255);
  }
  a:link {
    text-decoration: none;
  }
}

/* Setup */
html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 137.5%;
    -webkit-font-smoothing: antialiased;
  }

  /* P & Lists */
  p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }

  ul,
  ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul li,
  ol li {
    line-height: 1.5rem;
  }

  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 4.242rem;
    line-height: 4.5rem;
    margin-top: 3rem;
  }

  h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
  }

  h3 {
    font-size: 1.414rem;
  }

  h4 {
    font-size: 0.707rem;
  }

  h5 {
    font-size: 0.4713333333333333rem;
  }

  h6 {
    font-size: 0.3535rem;
  }

  /* Container */
  .container {
    width: 590px;
    margin: 0 auto;
  }
  
  /* Leading paragraph text */
  .lead {
    font-size: 1.6rem;
    line-height: 1.3;
  }
